USERNAME=""
PASSWORD=""
SECURITY_TOKEN=""
CLIENT_ID=""
CLIENT_SECRET=""
# Set LOGIN_ENV_URL to "https://login.salesforce.com" for Prod
# Set LOGIN_ENV_URL to "https://test.salesforce.com" for Sandboxes
LOGIN_ENV_URL=""
